@use '_resets.scss';
//Project Name: Unique D Miller's Portfolio
//Author: Unique Miller
//Version: 3.0
//Table of Contents in SCSS
// 0. Animations
// 1. Font Kits
// 2. Variables
// 3. Mixins
// 4. General Styles
// 5. Header
// 5.1. Main Navigation
// 5.2. Intro
// 7. Projects Section
// 7.5. Behance Section
// 8. About Section
// 15(to change). Footer
//---------------------------------------------------------
// 0. Animations
@keyframes slide-in {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}
// 1. Font Kits
@font-face {
    font-family: 'pl';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pm';
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pr';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pb';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'staat';
    src: url('../fonts/staatliches-regular-webfont.woff2') format('woff2'),
         url('../fonts/staatliches-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
// 2. Variables
// color variables
$blk: #050505;
$grey: #272727;
$wht: #FAFAFA;
$main: #ff0055;
$sec: #FFEA00;
$acc: #00C9FF;
$blur: rgba(49, 49, 49, 0.9);
// font variables
$light: 'pl', sans-serif;
$reg: 'pr', sans-serif;
$med: 'pm', sans-serif;
$bold: 'pb', sans-serif;
$head: 'staat', fantasy;
// spacing and layout variables
$gridcol: auto;
$gridrow: auto;
$spc: 0px auto;
$lspc: 0px auto 0px auto;
$size: 1.125rem;
$flow: row wrap;
$contain: 85%;
// 3. Mixins
@mixin font($light, $size) {
    font-family: $light;
    font-size: $size;
    font-weight: normal;
    font-style: normal;
}
@mixin marg($spc) {
    margin: $spc;
}
@mixin padd($spc) {
    padding: $spc;
}
@mixin margl($lspc) {
    margin: $lspc;
}
@mixin paddl($lspc) {
    padding: $lspc;
}
@mixin flex($flow) {
    display: flex;
    flex-flow: $flow;
}
@mixin grid($gridcol, $gridrow) {
    display: grid;
    grid-template-columns: $gridcol;
    grid-template-rows: $gridrow;
}
@mixin contain($contain) {
    width: $contain;
    max-width: 1200px;
    margin: 0px auto;
}
@mixin imgsize($size) {
    width: $size;
    height: $size;
}
//media query mixins
@mixin lapl {
  @media (min-width: 1600px) { @content; }
}
@mixin tab {
  @media (max-width: 1280px) and (min-width: 876px) { @content; }
}
@mixin mob {
  @media (max-width: 750px) { @content; }
//    change to 875px
}

// 4. General Styling
html {
    scroll-behavior: smooth;
}
body, input, textarea, button {
    @include font($reg, $size);
    @include mob {
        font-size: 1rem;
    }
}
h1, h2, label {
    @include font($head, 2.5rem);
    @include mob {
        font-size: 2rem;
    }
}
p {
    line-height: 1.25em;
}
img {
    object-fit: cover;
}
input, textarea {
    border: 0.5px solid #ff005555;
    &:hover, &:focus {
        border: 1.5px solid #ff0055;
    }
}
.btn, button.btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 15px 25px;
    background-color: $main;
    color: $wht;
    text-align: center;
    transition: 0.5s all;
    &::after, &::before {
        content:'';
        display: block;
        height: 10px;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: -1;
        background-color: $main;
        transition: 0.5s all;
    }
    &::after {
        bottom: 0;
    }
    &::before {
        top: 0;
    }
    &:hover {
        background-color: transparent;
        &::after {
            bottom: 30%;
            padding: 10px 0px;
        }
        &::before {
            top: 30%;
            padding: 10px 0px;
        }
    }
}
.diamond {
    aspect-ratio: 1 / 1;
    height: 100%;
    transform-origin: center;
    transform: rotate(45deg);
}
.btn.diamond {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    transform: rotate(0deg);
    background-color: transparent;
    &::after, &::before {
        content:'';
        aspect-ratio: 1 / 1;
        height: 100%;
        transform-origin: center;
        transform: rotate(45deg);
        position: absolute;
        left: 0;
        z-index: -1;
        background-color: $main;
        transition: 0.5s all;
    }
    &:hover {
        &::after, &::before {
            top: 0px;
            bottom: auto;
            padding: 0px;
        }
        &::before {
            transform: rotate(0deg);
            border: 0.5px solid $main;
            background-color: transparent;
        }
    }
}
// 5. Header
header {
    height: 100dvh;
    background: linear-gradient(145deg, #fffd 50%, #fffa 50%), url(../imgs/sm/milleru_savantminimalist-mockup.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    .s-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(145deg, #fff0 50%, $acc 50%);
        mix-blend-mode: color;
    }
}

// 5.1. Main Navigation
nav .container {
    @include contain($contain);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    .logo {
        @include font($head, 2.5rem);
        text-align: center;
        display: block;
        min-width: 150px;
        max-width: 200px;
        transition: color 0.5s;
        &:hover {
            color: $main;
        }
        img {
            width: 100%;
            height: 100%;
        }
        @include mob {
            font-size: 2rem;
            max-width: 155px;
        }
    }
    @include mob {
        flex-direction: column;
        gap: 15px;
    }
}
nav .container .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    align-items: center;
    div {
        display: flex;
        gap: 25px;
    }
    @include mob {
        width: 100%;
        button {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
nav a {
    @include font($reg, 1.25rem);
    @include mob {
        font-size: 1.125rem;
    }
    color: #050505;
}

// 5.2 Intro Section
.hero-content {
    @include contain($contain);
    @include flex(column wrap);
    justify-content: center;
    align-items: center;
    h1 {
        color: $blk;
        font-size: 3rem;
        text-align: center;
        span {
            color: $acc;
        }
        @include mob {
            font-size: 2rem;
        }
    }
    p {
        max-width: 500px;
        margin: 10px 0px 25px;
        text-align: center;
    }
    div {
        display: flex;
        gap: 25px;
    }
}
#scroll {
    @include font($light, 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.5em;
    letter-spacing: 0.5em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    .diamond {
        position: absolute;
        background: linear-gradient(135deg, $sec 50%, $sec 50%);
        z-index: -1;
        transform: translateY(50%) rotate(45deg);
        transition: 
            transform 0.8s
        ;
    }
    .txt {
        aspect-ratio: 1 / 1;
        height: 10.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        transition: 
            color 0.5s
        ;
        span {
            display: block;
            margin-bottom: 1.25rem;
        }
        &:hover {
            color: $wht;
            & ~ .diamond {
                transform-origin: center;
                transform: translateY(50%) rotate(-135deg);
                color: $wht;
                background: linear-gradient(135deg, $sec 50%, $main 50%);
            }
        }
        @include mob {
            height: 9rem;
        }
    }
    @include mob {
        line-height: 0.25em;
        letter-spacing: 0.25em;
    }
} 

// 6. Projects Section
#projects {
    position: relative;
    .line {
        border-bottom: 10px solid $acc;
        position: relative;
        z-index: 3;
    }
}
#projects #p-menu {
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: $sec;
    ul {
        @include contain($contain);
        display: flex;
        gap: 10px;
        @include mob {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0px;
            .active {
                flex: 100%;
                order: 3;
                opacity: 1;
                font-size: 1rem;
                padding-top: 15px;
                padding-bottom: 15px;
                .diamond {
                    display: block;
                }
            }
        }
        .active {
            background-color: #ff0055;
            color: $wht;
            .diamond {
                transform: translateY(50%) rotate(45deg);
                background-color: $main
            }
        }
    }
    li {
        @include font($head, 1.25rem);
        position: relative;
        z-index: 2;
        padding: 25px 12.5px;
        cursor: pointer;
        transition: all 0.5s;
        .diamond {
            background: $sec;
            height: 25px;
            margin-left: 5px;
            transition: all 0.5s;
            position: absolute;
            transform: translateY(-50%) rotate(45deg);
            z-index: -1;
        }
        &:hover {
            background-color: $main;
            color: $wht;
            .diamond {
                background-color: $main;
                transform: translateY(50%) rotate(45deg);
            }
        }
        @include mob {
            font-size: 0.8rem;
            opacity: 0.6;
            padding-top: 10px;
            padding-bottom: 10px;
            text-wrap: nowrap;
            flex: 1;
            text-align: center;
            display: flex;
            justify-content: center;
            .diamond {
                bottom: 0px;
                margin: 0px;
                display: none;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}

#projects .accord {
    display: none;
}
#projects .accord.active {
    display: block;
}

#projects .card{
    position: relative;
    z-index: 1;
    background-image: url(../imgs/sm/milleru_savantminimalist-mockup.jpg);
    background-size: cover;
    .container {
        @include contain($contain);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: ". cont";
        @include mob {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "cont" ".";
        }
    }
    .content {
        grid-area: cont;
        padding: 100px 0px 100px 25px;
        p {
            margin: 10px 0px 20px;
        }
        @include mob {
            padding: 50px 0px 0px;
        }
    }
    .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        .btn {
            flex: 1;
        }
    }
    .cblock {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        z-index: -1;
        background-color: #00C9FF22;
        backdrop-filter: blur(10px);
        @include mob {
            height: 60%;
            width: 100%;
        }
    }
    &:last-child .cblock::after {
        background: linear-gradient(to bottom, #00C9FF55 20%, $acc 100%);
        mix-blend-mode: normal;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

// 7. About Section
#about {
    background-color: $grey;
    color: $wht;
    position: relative;
    z-index: 3;
    overflow-y: hidden;
    .container {
        @include contain($contain);
    }
    h2 {
        color: $sec;
        padding-top: 25px;
    }
    .abt-me {
        padding: 25px 0px;
        display: flex;
        justify-content: space-between;
        gap: 25px;
        @include mob {
            flex-direction: column;
            justify-content: center;
        }
        .txts {
            @include flex(column wrap);
            flex: 1;
            gap: 25px;
        }
        .favs {
            flex: 1;
            h3 {
                font-size: 1.25rem;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 1.125em;
                padding: 10px 0px;
                margin-bottom: 20px;
                border-bottom: 0.01px solid $acc;
            }
        }
    }
    .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        padding-bottom: 25px;
        a, button {
            flex: 1;
        }
    }
    .diamond {
        background: linear-gradient(135deg, $acc 50%, $acc 50%);
        height: 50px;
        transform: translateY(-50%) rotate(45deg);
        &:last-child {
            transform: translateY(50%) rotate(45deg);
            margin-left: auto;
            background: linear-gradient(135deg, $sec 50%, $sec 50%);
        }
    }
}

// 8. About Section
#nextsteps {
    background-color: $sec;
    padding: 50px 0px;
    .container {
        @include contain($contain);
        text-align: center;
    }
    p {
        margin-bottom: 15px;
    }
    h2 {
        margin-top: 10px;
    }
    h4 {
        @include font($head, 1rem);
        margin: 5px 0px 25px;
    }
    .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6em;
        padding-bottom: 50px;
        margin-top: 5.5em;
        a, button {
            height: 11.5em;
            @include mob {
                height: 8em;
            }
        }
        @include mob {
            margin-top: 2.5em;
            gap: 4em;
            flex-direction: column;
            align-items: center;
        }
    }
    @include mob {
        padding: 25px 0px;
    }
}

// 9. Footer Section
footer {
    background-color: $grey;
    color: $wht;
    p {
        @include contain($contain);
        text-align: center;
        padding: 25px 0px;
    }
}

// 10. Contact Modal
form {
    position: fixed;
    left: 0px;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #05050555;
    backdrop-filter: blur(10px);
    display: none;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    fieldset {
        min-width: 50dvw;
        max-width: 75dvw;
        min-height: 50dvh;
        box-shadow: 2px 2px 5px #27272755;
        margin: auto;
        padding: 25px;
        border: none;
        background-color: $wht;
        @include mob {
            max-width: 90vw;
            height: 95vh;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 25px;
        li {
            flex: 1;
            &:last-child, &:nth-child(3) {
                flex: 100%;
            }
            @include mob {
                flex: 100%;
            }
        }
    }
    label {
        display: block;
        margin-bottom: 15px;
        font-size: 1.75rem;
    }
    input, textarea {
        display: block;
        width: 100%;
        padding: 10px 0px 10px 10px;
        transition: all 0.5s;
        &:valid {
            border: 0.5px solid $acc;
        }
        &::placeholder {
            color: #27272755;
        }
    }
    textarea {
        height: 7rem;
    }
    button.btn {
        width: 100%;
    }
    button:not(button.btn) {
        @include font($head, 1.75rem);
        display: block;
        width: max-content;
        margin: 0px 0px 10px auto;
        cursor: pointer;
        transition: transform 0.5s;
        &:hover {
            color: $main;
            transform: rotate(90deg);
        }
    }
}
.show {
    display: flex !important;
    pointer-events: all !important;
    animation: slide-in 0.5s ease-in-out forwards;
}

// 11. Socials Modal {
#social-mediums {
    height: 100vh;
    width: 100vw;
    background-color: #05050555;
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0px;
    z-index: 3;
    pointer-events: none;
    display: none;
    justify-content: center;
    align-items: center;
    .container {
        position: relative;
        min-width: 50dvw;
        max-width: 95dvw;
        min-height: 50dvh;
        box-shadow: 2px 2px 5px #27272755;
        margin: auto;
        padding: 25px;
        border: none;
        background-color: $wht;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: $main;
        padding: 25px;
        flex: 1;
        transition:
            background-color 0.5s,
            color 0.5s,
            flex 0.5s
        ;
        i {
            order: 1;
            font-size: 2rem;
        }
        span {
            order: 2;
        }
        &:hover {
            background-color: $main;
            color: $wht;
            flex: 3;
        }
    }
    button:not(button.btn) {
        @include font($head, 1.75rem);
        position: absolute;
        top: 25px;
        right: 25px;
        display: block;
        width: max-content;
        margin: 0px 0px 10px auto;
        cursor: pointer;
        transition: transform 0.5s;
        &:hover {
            color: $main;
            transform: rotate(90deg);
        }
    }
}

// 12. RESUME PAGE
#resume header {
    height: max-content;
    background: none;
    display: block;
    position: sticky;
    top: 0px;
    background-color: #FAFAFA55;
    backdrop-filter: blur(10px);
    .s-overlay {
        display: none;
    }
}
#resume main {
    h1, .r-links, #s1, #s2, #s3 {
        @include contain($contain);
    }
    h1 {
        margin-top: 25px;
        text-align: center;
    }
    .r-links {
        display: flex;
        width: max-content;
        margin: 10px auto 25px;
        a {
            @include font($bold, $size);
            color: $main;
            font-variant: small-caps;
            display: block;
            padding: 10px 25px;
            transition: all 0.5s;
            &:hover {
                background-color: $main;
                color: $wht;
            }
        }
        @include mob {
            flex-direction: column;
            align-items: center;
        }
    }
    #s1, #s2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        margin-bottom: 35px;
        h2 {
            margin-bottom: 10px;
        }
        @include mob {
            grid-template-columns: 1fr;
            gap: 15px;
        }
    }
    #s1 {
        .mission {
            background-color: $sec;
            padding: 25px;
        }
        .profic {
            padding: 25px;
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 25px;
                @include mob {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    text-align: center;
                }
            }
            li img {
                display: block;
                width: 3rem;
                margin: 0px auto 10px;
            }
            li p {
                font-size: 1.25rem;
            }
        }
    }
    #s2 {
        grid-template-columns: 2fr 1fr;
        .work-exp ol {
            list-style-type: none;
            h3 {
                font-size: 1.125rem;
                margin-bottom: 10px;
            }
            h4 {
                @include font($reg, 1rem);
                padding-left: 10px;
                margin: 0px 0px 10px 10px;
                border-left: 2px solid $acc;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                li {
                    list-style-type: disc;
                    margin-left: 20px;
                    &:last-child {
                        margin-bottom: 25px;
                    }
                }
            }
        }
        .skills {
            display: flex;
            flex-direction: column;
            gap: 25px;
            div ul {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                li {
                    border: 0.5px solid $acc;
                    padding: 10px;
                    font-size: 1rem;
                }
            }
        }
        @include mob {
            grid-template-columns: 1fr;
            gap: 15px;
        }
    }
    #s3 {
        text-align: center;
        padding-bottom: 35px;
        p:first-of-type {
            margin: 10px 0px;
        }
    }
}

// 13. PROCESS PAGE(S)
#pa-process header {
    height: auto;
    background: none;
    display: block;
    .process-hero {
        position: relative;
        height: 40vh;
        img {
            width: 100%;
            height: 100%;
        }
        h1 {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            text-align: center;
            background: linear-gradient(to bottom, #05050500, #050505);
            color: $sec;
            font-size: 4rem;
            padding-bottom: 10px;
            @include mob {
                font-size: 3.5rem;
            }
        }
    }
}

#pa-process main {
    margin: 15px 0px 25px;
    .deets {
        @include font($bold, 1.5rem);
        text-align: center;
    }
    hr {
        border: none;
        border-bottom: 5px solid $acc;
        width: 10px;
        margin: 10px auto 10px;
    }
    .overview p {
        text-align: center;
    }
    .container {
        @include contain($contain);
        margin-top: 20px;
        margin-bottom: 20px;
        &:nth-child(2) {
            margin-top: 40px;
        }
        &:last-child {
            margin-bottom: 80px;
        }
        h2 {
            margin-bottom: 10px;
        }
    }
    .sbs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
        .c1, .c2 {
            flex: 1;
            @include mob {
                flex: 100%;
            }
        }
    }
    .gal {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        img {
            width: 0px;
            min-width: 350px;
            height: 400px;
            flex: 1;
            @include mob {
                min-width: 200px;
            }
        }
    }
}