@use '_resets.scss';
//Project Name: Ethan Allen's Annual Report
//Author: Unique Miller
//Version: 1.0
//License: License Here
//Table of Contents in SCSS
//1. Font Kits
//2. Variables
//3. Mixins
//4. General Styles
//5. Header & Navigation
//6. Statement Section
//7. Balance Section
//8. Key Section
//9. Shareholders Section
//10. Footer
//1. Font Kits
@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff'),
         url('../fonts/poppins-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff'),
         url('../fonts/poppins-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff'),
         url('../fonts/poppins-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// 2. Variables
// colors
$blk: #0d0d0d;
$wht: #f2f2f2;
$main: #4a6c65;
// fonts
$light: 'poppinslight', serif;
$reg: 'poppinsregular', sans-serif;
$bold: 'poppinssemibold', sans-serif;
// spacing and layout
$gridcol: auto;
$gridrow: auto;
$spc: 0 auto;
$lspc: 0 auto 0 auto;
$size: 1.125rem;
$flow: row wrap;
$contain: 85%;
// 3. Mixins
@mixin font($light, $size) {
    font-family: $light;
    font-size: $size;
    font-weight: normal;
    font-style: normal;
}
@mixin marg($spc) {
    margin: $spc;
}
@mixin padd($spc) {
    padding: $spc;
}
@mixin margl($lspc) {
    margin: $lspc;
}
@mixin paddl($lspc) {
    padding: $lspc;
}
@mixin flex($flow) {
    display: flex;
    flex-flow: $flow;
}
@mixin grid($gridcol, $gridrow) {
    display: grid;
    grid-template-columns: $gridcol;
    grid-template-rows: $gridrow;
}
@mixin contain($contain) {
    width: $contain;
    margin: 0 auto;
    max-width: 90rem;
}
@mixin imgsize($size) {
    width: $size;
    height: $size;
}
//media query mixins
@mixin lap {
  @media (min-width: 1200px) { @content; }
}
@mixin tab {
  @media (min-width: 763px) { @content; }
}
// 4. General Styling
html {
    scroll-behavior: smooth;
}
body {
    background-color: $wht;
    overflow-x: hidden;
}
h1, h2, p, li, a {
    @include tab {
        font-size: 2.1875rem;
        line-height: 3rem;
    }
    @include font($light, $size);
    text-transform: uppercase;
    line-height: 1.65rem;
}
h1 {
    @include tab {
        font-size: 3.75rem;
        line-height: 4rem;
    }
    @include lap {
        font-size: 6.25rem;
        line-height: 6.25rem;
    }
    font-size: 2.5rem;
    letter-spacing: 0.3em;
    line-height: 3rem;
}
h2 {
    @include tab {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    @include lap {
        font-size: 2.8125rem;
        line-height: 3.75rem;
    }
    font-size: 1.5625rem;
    letter-spacing: 0.25em;
    line-height: 2rem;
}
li {
    color: $main;
    letter-spacing: 0.15em;
    &:nth-of-type(2n) {
        @include tab {
            font-size: 1.5625rem;
            line-height: 2rem;
        }
        font-size: 1rem;
        color: $blk;
    }
}
.linkbtn {
    @include padd(1.25rem 2.25rem);
    background-color: $blk;
    color: $wht;
    text-align: center;
    background: linear-gradient(to left, $blk 50%, $main 50%) right;
    background-size: 200%;
    transition: .2s ease-out;
    &:hover {
        background-position: left;
    }
}
img {
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
}
// 5. Header & Navigation
header {
    height: 100vh;
    width: 100vw;
    #headhero {
        @include lap {
            height: 70vh;
            width: 30vw;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
    .headings {
        @include tab {
            top: 6rem;
            left: 50%;
            transform: translateX(-50%);
            max-width: 90rem;
            text-align: center;
        }
        @include lap {
            top: 1.25rem;
            width: 100%;
            h2 {
                position: absolute;
                right: 25%;
                top: 6.75rem;
                text-align: start;
                width: 15rem;
            }
        }
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
        max-width: 23rem;
        h2 {
            color: $main;
        }
    }
    .overlay {
        @include lap {
            background: none;
            padding: 0;
            left: 85%;
            bottom: 5%;
            transform: translateX(-50%);
        }
        @include padd(1.25rem);
        position: absolute;
        bottom: 0;
        width: 100vw;
        background: rgba(13, 13, 13, 0.8);
        backdrop-filter: blur(2px);
        .byline {
            @include tab {
                font-size: 1.125rem;
                line-height: 2rem;
            }
            @include lap {
                color: $blk;
                margin: 0;
            }
            @include contain($contain);
            color: $wht;
            letter-spacing: 0.1em;
        }
    }
}
header nav {
    #mainnav {
        @include lap {
            @include flex(column wrap);
            background-color: transparent;
            height: auto;
            width: auto;
            align-items: start;
        }
        @include lap {
            position: absolute;
            left: 67%;
            top: 18rem;
            width: 18rem;
            #backtotop {
                display: none;
            }
        }
        @include flex(column wrap);
        display: none;
        justify-content: center;
        align-items: center;
        background-color: $blk;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        li {
            @include lap {
                text-align: left;
                margin-bottom: 1rem;
            }
            margin-bottom: 2rem;
            text-align: center;
            a, a:visited {
                @include lap {
                    color: $blk;
                }
                @include font($reg, 1.25rem);
                color: $wht;
                position: relative;
                &:hover {
                    color: $main;
                }
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 0;
                    height: 2px;
                    background-color: $main;
                    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
                }
                @media (hover: hover) and (pointer: fine) {
                    &:hover::before {
                        left: 0;
                        right: auto;
                        width: 100%;
                    }
                }
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    #mobopen, #mobclose {
        @include lap {
            display: none;
        }
        position: fixed;
        top: 1.25rem;
        right: 1.25rem;
        cursor: pointer;
        transition: .2s ease-out;
        &:hover {
            filter: invert(39%) sepia(27%) saturate(405%) hue-rotate(118deg) brightness(92%) contrast(86%);
        }
    }
    .navbackdrop {
        @include lap {
            display: none;
        }
        background-color: $blk;
        height: 4.25rem;
        width: 5.25rem;
        position: fixed;
        top: 0;
        right: 0;
    }
    // Add class to Nav on scroll
    // .after-scroll {
    //     @include padd(0.5rem 1.25rem);
    //     @include flex(row wrap);
    //     opacity: 0.5;
    //     align-items: center;
    //     justify-content: center;
    //     background-color: $blk;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     z-index: 5;
    //     width: 100vw;
    //     transition: .2s ease-out;
    //     li {
    //         letter-spacing: 0.1em;
    //         font-size: 1.25rem;
    //         margin-right: 2rem;
    //         a, a:visited {
    //             color: $wht;
    //             font-size: 1.25rem;
    //         }
    //         &:last-of-type {
    //             margin-right: 0;
    //         }
    //     }
    //     &:hover {
    //         opacity: 1;
    //     }
    // }
}
// 6. Statement Section
#statement {
    @include lap {
        @include grid(auto auto, 8rem auto);
        background: none;
    }
    width: 100vw;
    height: 100vh;
    background: url(../images/statement_hero.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    img {
        display: none;
        @include lap {
            grid-row: 1 / 3;
            grid-column: 1 / 2;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .overlay {
        @include tab {
            @include margl(0 0 0 auto);
            @include padd(1.25rem);
            width: 35rem;
        }
        @include lap {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            margin: 0;
            padding: 0;
            background: none;
            align-self: center;
        }
        @include padd(1.25rem 0);
        width: 100%;
        background: rgba(242, 242, 242, 0.8);
        backdrop-filter: blur(2px);
    }
    h2, ul {
        @include contain($contain);
    }
    h2 {
        @include lap {
            grid-row: 1 / 3;
            grid-column: 1 / 3;
            padding-bottom: 0;
        }
        @include padd(1.25rem 0);
        text-align: center;
    }
    ul {
        li:nth-of-type(2n) {
            margin-bottom: 1.25rem;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
// 7. Balance Section
#balance {
    .hero, .content {
        width: 100vw;
        height: 100vh;
    }
    .hero {
        @include tab {
            @include grid(8rem auto, 100vh);
        }
        @include grid(4rem auto, 100vh);
        h2 {
            @include tab {
                font-size: 2.5rem;
                line-height: 3.5rem;
            }
            @include lap {
                font-size: 2rem;
                line-height: 3.75rem;
            }
            @include contain($contain);
            @include margl(1.25rem auto 0 auto);
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-size: 1.5rem;
        }
        img {
            height: 100%;
            width: 100%;
        }
    }
    .content {
        @include grid(repeat(2, 50%), 25% auto 25%);
        align-items: center;
        overflow: hidden;
        grid-template-areas:
            "bimga bimga"
            "ula ulb"
            "bimgb bimgb"
        ;
    }
    ul {
        @include paddl(0 0.781rem 0 0);
        grid-area: ula;
        text-align: end;
        &:last-of-type {
            @include paddl(0 0 0 0.781rem);
            grid-area: ulb;
            text-align: start;
        }
        li:nth-of-type(2n) {
            margin-bottom: 1.25rem;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .balanceimgsa, .balanceimgsb {
        @include flex(row wrap);
        grid-area: bimga;
        height: 100%;
        img {
            height: 100%;
            width: 50%;
        }
    }
    .balanceimgsb {
        grid-area: bimgb;
    }
}
// 8. Key Section
#key {
    overflow: hidden;
    .hero {
        @include tab {
            @include grid(auto 15%, 6rem auto);
        }
        @include grid(auto 15%, 3rem auto);
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        grid-template-areas:
            "heada ."
            "himg headb"
        ;
        h2 {
            grid-area: heada;
            justify-self: end;
            align-self: flex-end;
            &:last-of-type {
                grid-area: headb;
                justify-self: start;
                align-self: flex-start;
                writing-mode: vertical-rl;
            }
        }
        img {
            grid-area: himg;
            height: 100%;
            width: 100%;
        }
    }
    .content {
        @include grid(auto,auto auto);
        justify-content: center;
        height: 100vh;
        width: 100vw;
        img {
            grid-row: 2 / 2;
            grid-column: 1 / 2;
            height: 100%;
            width: 100%;
            justify-self: flex-end
        }
        ul {
            @include lap {
                @include padd(3rem 0);
            }
            @include contain($contain);
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            padding-top: 1.25rem;
            text-align: center;
            li:nth-of-type(2n) {
                margin-bottom: 1.25rem;
            }
        }
    }
}
// 9. Shareholders Section
#shareholders {
    @include contain($contain);
    @include flex(column wrap);
    height: auto;
    width: 100vw;
    h2 {
        @include lap {
            @include paddl(3rem 0 2rem 0);
        }
        padding-top: 1.25rem;
        text-align: center;
    }
    ul {
        @include lap {
            @include grid(auto auto auto,auto auto auto);
            @include contain($contain);
            grid-template-areas:
                "lia lib lic"
                "lid lie lif"
            ;
            li {
                grid-area: lia;
            }
            li:nth-of-type(2) {
                grid-area: lid;
            }
            li:nth-of-type(3) {
                grid-area: lib;
            }
            li:nth-of-type(4) {
                grid-area: lie;
            }
            li:nth-of-type(5) {
                grid-area: lic;
            }
            li:nth-of-type(6) {
                grid-area: lif;
            }
        }
        padding-top: 1.25rem;
        text-align: center;
        li:nth-of-type(2n) {
            margin-bottom: 1.25rem;
        }
        &:last-of-type {
            @include lap {
                padding-bottom: 3rem;
            }
            padding-top: 0;
        }
    }
}
// 10. Footer
footer {
    @include lap {
        @include grid(repeat(3,33.33%), auto);
    }
    height: 50vh;
    width: 100vw;
    position: relative;
    .linkbtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    img {
        @include lap {
            grid-row: 1 / 1;
            grid-column: 2 / 3;
            &:first-of-type {
                grid-column: 1 / 2;
            }
            &:last-of-type {
                grid-column: 3 / 3;
            }
        }
        width: 100%;
        height: 100%;
        &:first-of-type, &:last-of-type {
            @include lap {
                display: block;
            }
            display: none;
        }
    }
}